{% extends 'layout.html' %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}
{% block content %}
</br></br>
<div class="flex-container">
    <div class="col">
        <table class="display" id="example">
            <thead>
                <tr>
                    <th>Test ID</th>
                    <th>Patient ID</th>
                    <th>Date Taken</th>
                    <th>Replay</th>
                    <th>Test Data</th>
                    <th>Questionnaire</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tableData %}
                <tr>
                    <td>{{ item['TestID'] }}</td>
                    <td>{{ item['PatientID'] }}</td>
                    <td>{{ item['DateTaken'] }}</td>
                    <td><a href="{{ url_for('patients.replay' ,id=item ['TestID']) }}">Watch</a></td>
                    <td>
                        <a href="/data/get_test_data_excel?id={{ item['TestID'] }}">Download</a>
                    </td>
                    <td>
                        <a href="/data/get_questionnaire_excel?id={{ item['TestID'] }}"> Download </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}