{% extends 'layout.html' %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/replay.js') }}"></script>
{% endblock %}

{% block content %}
<br />
<div class="flex-container">
        <div class="row" id="image-container">
            <svg id="svg"></svg>
        </div>
        <br/>
        <div class="row" id="div-controls">
            <div class="col-sm-auto">
                <button class="btn btn-info" id="btn-start">Start</button>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-info" id="btn-rewind">◄</button>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-info" id="btn-pause">Pause</button>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-info" id="btn-fastforward">►</button>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-info" id="btn-stop">Stop</button>
            </div>
        </div>
</div>
{% endblock %}