.welcome {
    text-align: center;
    font-size: 30px;
    color: black;
}
 
.card {
    position: absolute;
    right: 0%;
    top: 20%;
}
.column {
    display: flex;
    text-align: center;
}
.row {
    flex: 50%;
    color: black;
    align-content: center;
    
   
}

.container {
    align-content: center;
}
 