.welcome {
    position: absolute;
    right: 25%;
    font-size: 30px;
    color: black;
}
 
.card {
    position: absolute;
    right: 0%;
    top: 20%;
}
.column {
    display: flex;
}
.row {
    flex: 50%;
    color: black;
   
}

.container {
    padding-top: 5%;
    padding-right: 20%;    
}
 