<!-- Lets render the "layout" template -->
{% extends 'layout.html' %}
{% block content %}
<div class="flex-container">
  <div class="col-lg-4 mx-auto">
    <div class="row-sm-2">
      <h2 class="text-center">Welcome, {{user.DoctorName}}</h2>
      <br /><br />
    </div>
    <div class="row text-center">
      <!-- annoying to work with; figure it out eventually-->
      <iframe width="100%" height="315px" src="{{ url_for('static',filename='images/Final Video 720p60.mp4')}}"
        controls></iframe>
    </div>
  </div>
  <br /><br />
  <div class="col-md-8 mx-auto">
    <div class="row">
      <h3>Motivation</h3>
      <p>Our application was developed
        to digitize dementia detection tests that have been in use for years, 
        but did not contain enough quantitative data.
        The application takes advantage of Apple hardware, 
        coupled with the computational power
        of Python to facilitate the collection and interpretation of data.
      </p>
      <br /><br />
      <h3>Our approach</h3>
      <p>
        A symbol is chosen as the target symbol which the patient will aim to find within the
        rendered scatter test. Each quadrant of the test is filled with 15
        target symbols and a mass of other irrelevant symbols. The patient is then asked
        to circle as many target symbols as they can while the test administrator times them.
        The iOS application is able to track the test's total time,
        the pressure at which a patient circles a symbol, the length of
        time elapsed in the drawing of a single circle, and the latency between each circle.
        With this new data, we hope to be able to assist patients 
        who believe they have symptoms of neurodegenerative disease.</p>
    </div>
  </div>
</div>
</br>
</br>
{% endblock %}