<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cancellation Test</title>

        {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock scripts %}

        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
        {% endblock %}

</head>
<body>
        {% include 'includes/_messages.html' %}
        {% if current_user.is_authenticated %}
        {% include 'includes/_navbar.html' %}
        {% else %}
        <div class="modal fade" id="div_forgot_pwd" role="dialog" style="background-color: #d6d6d6;">
                <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h4 class="modal-title">Forgot Password</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                        
                                <br/>
                                        <form method="post" action="">
                                                <div class="form-group">
                                                        <label for="email">Email:</label>
                                                        <input type="text" name="email" placeholder="Enter email">
                                                </div>
                                                <button type="submit" class="btn btn-info text-center">Submit</button>
                                        </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                        </div>
                </div>
        </div>
        {% endif %}
        {% block content %} {% endblock %}
</body>
</html>